#system-info-textarea {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: block;
    font-family: Menlo,Monaco,monospace;
    height: 400px;
    overflow: auto;
    white-space: pre;
    width: 800px;
}